* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    }
    
    body {
    font-family:Arial, sans-serif;
    background:#d95353;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    }
    
    .container {
    background:#df7474;
    width:700px;
    padding:40px;
    border-radius:20px;
    position:relative;
    }
    
    h1 {
    text-align:center;
    color:white;
    margin-bottom:40px;
    font-size:36px;
    }
    
    .rede {
    display:flex;
    align-items:center;
    gap:25px;
    margin-bottom:30px;
    margin-left:70px;
    }
    
    .rede img {
    width:60px;
    }
    
    .rede p {
    font-size:26px;
    color:white;
    font-weight:bold;
    }
    
    .voltar {
    position:absolute;
    right:30px;
    bottom:30px;
    width:120px;
    height:40px;
    border:none;
    border-radius:15px;
    background:#d9d9d9;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    }
    
    .voltar:hover {
    opacity:0.9;
}